body {
    --bs-body-font-family: "Times New Roman","Garamond", serif;
}
/*Menu*/
nav a:nth-child(2)::before { /*022*/
    content: '';
    width: 100%;
    height: 4px;
    background: #4c6b50;
    position: absolute;
    top: 2.8em;
}
nav a:nth-child(2) { /*012*/
    color: #4c6b50;
}
/*Content*/
h2 { /*001*/
    margin: 5em auto 2em!important;
    font-size: 1.4em!important;
    font-weight: bold!important;
}
h2 + div { /*002*/
    width: 80%;
    margin: auto;
}
tbody td i {
    color: #4c6b50;
    background-color: transparent;
}

/* Responsive */
@media screen and (max-width: 800px) {
    nav a:nth-child(2)::before {
        top: 1.2em;
    }
}

@media screen and (max-width: 530px) {
    h2 + div {
        width: 95%;
    }
}