/*Menu*/
nav a:nth-child(3)::before { /*022*/
    content: '';
    width: 100%;
    height: 4px;
    background: #4c6b50;
    position: absolute;
    top: 2.8em;
}
nav a:nth-child(3) { /*012*/
    color: #4c6b50;
}

/*Content*/
main section { /*002*/
    width: max-content;
    margin: auto;
}
section h2 { /*001*/
    margin-top: 5em;
}
section h3 { /*001*/
    margin-top: 2em;
}

/* Responsive */
@media screen and (max-width: 800px) {
    nav a:nth-child(3)::before {
        top: 1.2em;
    }
}